.expiration-calendar{
    width: 800px;
    margin: 0 auto;
}

.calendar{
    background-color:#fff;
}

.calendar .fc-toolbar h2{
    font-size:1.3em;
}

.calendar .fc-view-container{
    color:#1F6F6E;
}

.calendar .fc-unthemed{
    padding:12px;
    border-top:3px solid#00af5f;
}

.calendar .fc-today{
    background: #75CAEB !important;
}

.calendar .fc-day-number{
    font-size:12px;
}

.calendar .fc-button{
    background-color: #57A78D;
    color: #fff;
    border-color: #45826e;
    border-style: solid;
    border-width: 0 1px 4px 1px;
}

.calendar .fc-button:hover{
    background-color: #1F6F6E;
    border-color: #1F6F6E;
    color:#f2f2f2;
}

.calendar .fc-button:hover{
    margin-top: 1px;
}

.calendar .fc-widget-content,
.calendar .fc-widget-header table,
.calendar .fc-widget-content .fc-row:first-child{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.calendar .fc-widget-content .fc-row:last-child{
    border-right: 1px solid #ddd;
}

.fc-content-orange{
   background-color: #f39c12;
   border-color: #ef970b;
}

.fc-content-red{
   background-color: #c34838;
   border-color: #bd3e2e;
}

.expiration-info-box .small-box h3{
    color:#fff !important;
}

.expiration-info-box .count span{
    font-size: 25px;
    font-weight: bold;
    word-break: break-word;
}

.expiration-info-box .small-box .icon,
.expiration-info-box .small-box:hover .icon{
    font-size: 50px;
}

