#machine-backDrop{
    position: fixed; /*full width screen **/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2050; /* higher value make top from all elements. */
    background-color: rgba(0,0,0,0.5);
  }
  .backDrop-loader{
    margin: 20% auto; /** center loader **/
    color: #60fdaf;
  }
  .backDrop-loader .fa-refresh{
     vertical-align: middle;
    padding: 0px 10px;
  }